app:
  name: "chirp-transactions-service"
  version: "1.0.0"

grpc:
  port: ":50051"
  enable_reflection: true

http:
  port: ":8080"

postgresql:
  host: "localhost"
  port: "5432"
  user: "gwuser"
  password: "gwpass"
  dbname: "transactions"
  sslmode: "disable"

sync:
  interval: "5m"
  batch_size: 100
