global:
  metrics:
    enabled: true
    path: /metrics
    port: http
  imagePullSecrets:
    - name: github

replicaCount: 1

image:
  repository: ghcr.io/kpozdnikin/go-sui-test
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  ports:
    - name: http
      targetPort: 8080
      port: 80

startupProbe:
  failureThreshold: 50
  periodSeconds: 10

livenessProbe:
  failureThreshold: 5
  initialDelaySeconds: 0
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1

readinessProbe:
  failureThreshold: 5
  initialDelaySeconds: 0
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
